*.pyc
mergic.egg-info/
dist/
AusOpen-men-2013.csv
AusOpen-women-2013.csv
FrenchOpen-men-2013.csv
FrenchOpen-women-2013.csv
USOpen-men-2013.csv
USOpen-women-2013.csv
Wimbledon-men-2013.csv
Wimbledon-women-2013.csv
.mergic_cache
.coverage
